@media screen and (max-width:600.9px){

    section{
        height: 300%;
    }
    .one-img{
        width: 100%;
        height: 15%;
    }
    .gallary-imgs{
        height: 100%;;
    }
    .slider-img{
        height: 100%;
    }
    .slider{
        width: 100%;
        height: 30%;
        left: 0%;
        top: 35%;
    }
    .layer{
        height: 250%;
    }
}


@media screen and (min-width:601px) and (max-width:768px) {
    .one-img{
        height: 30%;
    }
    .gallary-imgs{
        height: 100%;
    }
}


@media screen and (min-width:769px) and (max-width:992.9px) {


}


@media screen and (min-width:993px) and (max-width:1200px) {

}


@media screen and (min-width:1200px) {

}